################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ASCON_C#/lesson_1/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/ASCON_C#/lesson_1/ConsoleApp1/.vs
/ASCON_C#/lesson_1/ConsoleApp1/bin/Debug/net8.0
/ASCON_C#/lesson_1/ConsoleApp1/obj
/ASCON_C#/lesson_2/Calc/.vs/Calc
/ASCON_C#/lesson_2/Calc/bin/Debug/net8.0
/ASCON_C#/lesson_2/Calc/obj
/ASCON_C#/ex3/ex3/obj
/ASCON_C#/ex3/ex3/bin/Debug/net6.0
/ASCON_C#/ex3/ex3/.vs/ex3
/ASCON_C#/ex4/ex4/.vs/ex4
/ASCON_C#/ex4/ex4/bin/Debug/net6.0
/ASCON_C#/ex4/ex4/obj
